__pycache__/
*.pyc
.git/
assets/tracks/
assets/full_dataset/
assets/cleanAudioCache/
uploads/
Results/
DebugData/
NotesPlanse/
*.jpg
*.png
.gitignore
README.md
SOLUTION.md
main.py
test.py
NormalizeAudios.py
